<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAO.Interface.IInsurance">
    <resultMap id="insurance" type="Model.Insurance">
        <id property="id" column="id"/>
        <result property="cost" column="cost"/>
        <result property="exp_date" column="exp_date"/>
    </resultMap>
    <select id="getInsuranceById" resultMap="insurance" parameterType="java.lang.Integer">
        SELECT * FROM carwashservice.insurance WHERE id = #{id}
    </select>
    <!--
    <insert id="insertInsurance" parameterType="Model.Insurance">
        INSERT INTO carwashservice.insurance (id, cost, exp_date)
        VALUES (#{id}, #{cost}, #{exp_date})
    </insert>
    -->
</mapper>